/* General CSS*/
div {
  border: none !important;
}


.site-title {
  font-weight: 300;
  font-size: 72px;
  display: inline;
  align-items: left;
  width: 640px;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
}

.site-subtitle-type {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.02em;
  margin-right: 12px;
}

.site-subtitle-attr {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.case-title {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.body-style {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.section-title {
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.section-header {
  font-size: 18px;
  font-weight: 500;
}

/* Images*/
img {
  width: 100%;
  object-fit: cover;
}

.title-image {
  /* max-height: 480px; */
  max-width: 1200px;
  top: -240px;
  z-index: -1;
}


/* Div Backgrounds */
.gray-bg {
  background-color: #F8F8F8;
}

.white-bg {
  background-color: #FFFFFF;
}

/* Container Styles */
.item {
  display: inline-block;
}

.title-content {
  position: static;
  left: 151px;
  align-self: center;
  border: red 1px dashed;
}

.subtitle-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.content-container {
    display: flex;
    flex-direction: column;
    padding: 96px 0px 96px 0px;

    /* Inside Auto Layout */
    flex: none;
    align-self: center;
    margin: 0px 0px;
    width: 100%;
    border: blue 1px dashed;
}

.content-inside {
  display: flex;
  flex: column;
  align-self: center;
  margin: 0px 10px;
  border: green 1px dashed;
  width: 90%;
}


.content-left {
  width: 446px;
  border: orange 1px dashed;
}

.image-content-left {
  width: 446px;
  margin-right: 360px;
  border: orange 1px dashed;
}

.content-right {
  width: 590px;
  padding: 0px;
  border: orange 1px dashed;
}

.content-right-2 {
  display: table-cell;
  vertical-align: middle;
  width: 560px;
  padding: 0px;
  border: pink 3px dashed;
}

.content-UI {
    display: inline-block;
    position: relative;
}

.content-block {
  margin-bottom: 60px;
  border: 1px red dashed;
}

.content-block-end {
  margin: 0;
  border: 1px red dashed;
}
